/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:ital,wght@0,300;1,600&display=swap');


/* Reset Styles */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Body Styles */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

display: flex;
flex-direction: column;
min-height: 100vh;
letter-spacing: -0.5px;
color: #eee1dc;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
height: 100%;
width: 100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
/* Container Styles */
.container {
margin: 0 auto;
padding: 0 15px;
max-width: 1200px;
}

                                                        /* !!!! HOME PAGE !!!! */

/* Navigation Styles */
.nav {
background-color: #1fbdc9d0;
border: 2px solid black;
padding: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
color: #fff;
}

.logo {
  position: relative;
float: left;
right: 150px;
margin-right: auto;
padding-left: 20px;
}

.nav-items {
display: flex;
justify-content: center;
column-gap: 100px;
row-gap: 20px;
flex-wrap: wrap;
}

.nav-item {
list-style-type: none;
padding: 10px 20px;
}

nav ul{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #591BC5;;
}



/* Header Styles */
.header {
padding: 40px 0;
min-height: 695px;
display: flex;
justify-content: center;
align-items: center;
background-image: url('./img/header.jpg');
background-repeat: no-repeat;
background-size: auto;
background-position: center center;
text-align: center;
}

 .slider{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    min-height: 695px;
    background-color: #000000c0;
} 

.slider-item{
  top: 100px;
  height: 550px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.carousel-text {
  float: left;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  min-height: 100px;
}

.carousel-image {
  padding-right: 280px;
  float: right;
  width: auto;
  height: 350px;
  object-fit: cover;
  min-height: 100px;
}


.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  list-style-type: none;
}

.social__item img{
  width: 50px;
  height: 50px;
}

.full-item{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.788);
  z-index: 1000;
  overflow: auto;
}
.full-item > div{
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: rgb(146, 144, 140);
  border-radius: 20px;
}
.titul{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
main {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
    
}
main .item{
  width: 250px;
  height: 500px;
  margin-bottom: 50px;
  background: #8f613600;
  overflow: hidden;
  position: relative;
}
main .item img{
  width: 250px;
  height: 200px;
  transition: transform 500ms ease;
  cursor: pointer;
}

.item img{
  border-radius: 10px;
}

.select {
  margin-top: 2px;
  margin-left: 15px;
}

main .item img:hover,
.full-item img:hover{
  transform: scale(1.15);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b,
main i, .full-item i {
  margin: 10px 20px;
  color: #eee1dc;
  text-shadow: 3px 2px 3px #362c38;
}
main .add-to-card,
.full-item .add-to-card{
  margin: 15px;
  position: absolute;
   bottom: 5px;
   right: 9px;
  background: #49170300;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  color: rgb(245, 236, 244);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 500ms ease;
}
main .add-to-card:hover,
.full-item .add-to-card:hover{
  transform: scale(1.5);
}

.mian-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video{
  padding: 20px;
  background-color:#151216;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.map{
  position: relative;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.before-map{
  text-align: center;
  width: 400px;
  height: 500px;
  z-index: 100;
  color: #fff;
  position: absolute;
  top: 270px;
  left: 492px;
  transform: translate(-50%, -50%);
  background-color: #000000c0;
}

.map-item{
  position: relative;
  margin: 10px;
  top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.user-data{
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}
.user-data input{
  border-radius: 5px;
  height: 25px;
}

.lasth3{
  text-shadow: 2px 2px 2px black;
}

.text-area{margin: 10px;}
                                                 /* !!!! GOODS PAGE !!!! */
#goods{
  display: flex;
  margin-top: 30px;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;

}

.allGoods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  margin-top: 10px;
}

.back{
  position: relative;
  background-color: #b4b4b46c;
  width: 1000px;
  left: 50px;
}

.categ {
  margin-top: 20px;
  left: 150px;

}

.input-find {
  left: 100px;
}


                                            /* !!!! ABOUT PAGE !!!! */

.header-about{
padding: 40px 0;
width: auto;
min-height: 695px;
display: flex;
justify-content: center;
align-items: center;
background-image: url('./img/about.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-position: center center;
text-align: center;
}

.before-header-about{
justify-content: center;
align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  min-height: 695px;
  background-color: #000000c0;
}

.header-about-text{
  position: relative;
  left: 420px;
  top: 100px;
  width: 700px;
  margin: 30px 30px;
}

.header-about-text h3{
  position: relative;
 padding: 30px 30px
}

.Carousel-1{
  position: relative;
  display: block;
  margin: 30px auto;
  width: 600px;
  height: 350px;
  padding: 30px;
  right: 300px;
  }
  
  .Carousel-2{
  position: relative;
  display: block;
  margin: 30px auto;
  width: 600px;
  left: 450px;

  }
  .carousel-text1{
  position: absolute;
  bottom: 0;
  left: 600px;
  width: 600px;
  padding: 20px;
  }
  
  .carousel-text2{
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  padding: 20px;
  right: 700px;
  }

  .carousel-3-zone{
    background-color: #151216;
    height: 500px;
  }

  .Carousel-3{
    position: relative;
    padding: 10px;
    bottom: 300px;
    left: 400px;
    width: 800px;
    height: 300px;
    color: #fff;
    background-color: #000000a4;
    }

  .carousel-text3{
    color: #eee1dc;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .last-img{
    position: relative;
    top: 50px;
    left: 400px;
  }

                                            /* !!!!BASKET PAGE!!!! */


  .shop-cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    width: 530px;
    position: relative;
  }
  .shop-cart-item-img img {
    width: 130px;
  }
  .shop-cart-item-info {
    flex-grow: 1;
    margin: 15px;
  }
  .shop-cart-item-title {
    font-size: 20px;
  }
  .shop-cart-item-weight{
    position: relative;
    right: 20px;
    
  }
  .shop-cart-item-price {
    margin: 5px 0px;
    color: green;
  }
  
  .basket-container {
    max-width: 700px;
    margin: 10px auto;
    background-color: #00000059;
  }
  
  .basket-heading {
    margin-top: 10px;
    text-align: center;
  }
  
  .basket-items-container {
    display: grid; /* Change display property */
    grid-template-rows: repeat(auto-fit, 120px); /* Set a fixed height */
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px; /* Add margin bottom to push down the following elements */
  }
  
  .basket-item {
    display: block;
    margin: 10px;
    position: relative;
    z-index: 2;
    height: 100%; /* Add a fixed height */
    grid-row: span 2; /* Set the grid-row property to span 2 rows */
  }
  
  .basket-item-img img {
    width: 100px;
  }
  
  .basket-item-remove {
    margin-left: auto;
  }
  
  .basket-summary {
    width: 650px;
    position: relative;
    left: 20px;
    margin: 20px 10px;
    padding-bottom: 10px;
    grid-row: 3 / 4; /* Set the grid-row property to start from the third row */
  }
  
  .basket-summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .basket-checkout-button {
    display: block;
    margin-left: auto;
    grid-row: 4 / 5; /* Set the grid-row property to start from the fourth row */
  }